[submodule "3rdparty/sqlite3dbm"]
	path = 3rdparty/sqlite3dbm
	url = git://github.com/antigluk/pySmartHouse.git
[submodule "3rdparty/AwesomeChartJS"]
	path = 3rdparty/AwesomeChartJS
	url = https://github.com/cyberpython/AwesomeChartJS.git
[submodule "msp430_firmware/OneWire"]
	path = msp430_firmware/OneWire
	url = https://github.com/dsiroky/OneWire.git
[submodule "resources"]
	path = resources
	url = git@github.com:antigluk/pySmartHouse-resources.git
