{% extends "base.html" %}

{% block title %}All sensors - {% endblock %}

{% block content %}
  {% if "msp430" in info %}
  <div class="alert alert-success">msp430 подключен на порт {{ info.msp430.port }} </div>
  {% else %}
  <div class="alert alert-error">Похоже, msp430 не подключен...</div>
  {% endif %}

  <div class="accordion" id="accordion2">
  {% for sensor in data %}
      <div class="accordion-group">
          <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ loop.index }}">{{ sensor.name }}</a>
          </div>
          <div id="collapse{{ loop.index }}" class="accordion-body collapse in">
            <div class="accordion-inner">
              <table class="table table-striped">
              {% for value in sensor.data %}
                  <tr> <td width="33%"><a href="{{ url_for('chart', device="sensor_"+sensor.name, sensor=value[0]) }}">
                    {{ value[0] }}</td> <td>{{ value[1] }} </td>
              {% endfor %}
              </table>
            </div>
          </div>
      </div>
  {% endfor %}
  </div>
{% endblock %}