{% extends "base.html" %}

{% block title %}Video - {% endblock %}

{% block head %}
<script>

</script>
{% endblock %}

{% block content %}
<h1>Видеонаблюдение</h1>

  {% if "video" not in info %}
  <div class="alert alert-error">Похоже, камера не подключена...</div>
  {% else %}
  
  <div class="alert alert-success">Камера подключена к {{ info.video.port }} </div>

      {% if img %}
      <img src="/static/{{ img }}" style="width:320px;height:240px" />
      {% else %}
      Пока нету снимков.
      {% endif %}
  
  {% endif %}


{% endblock %}